html {
  /* Встановлюємо базовий розмір шрифту для кореневого елемента на 16px */
  font-size: 16px;
}

body {
  /* Розмір шрифту для body, який дорівнює 1rem = 16px */
  font-size: 1rem;

  p {
    /* Розмір шрифту для параграфів, 1.25rem = 20px */
    font-size: 1.25rem; /* 1.25 * 16px */
  }

  h3 {
    /* Розмір шрифту для заголовків h3, 2rem = 32px */
    font-size: 2rem; /* 2 * 16px */
  }
}
